.survey-details {

    display: flex;

    flex-direction: column;

    gap: 0.75rem
}

    .survey-details .form-group {

    display: flex;

    flex-direction: column
}

    .survey-details .form-group label {

    margin-bottom: 0.25rem
}

    .survey-details .form-group input,
        .survey-details .form-group textarea {

    width: 100%;

    border-radius: 0.5rem;

    border-width: 1px;

    padding: 0.25rem
}

    .survey-details .form-group ul:not(.errorlist) {

    margin-bottom: 1rem;

    width: 100%;

    list-style-type: disc;

    padding-left: 1.5rem
}

    .survey-details .form-group ul:not(.errorlist) li.option-item {

    margin-bottom: 0.5rem
}

    .survey-details .form-group ul:not(.errorlist) li.option-item .option-container {

    display: flex;

    gap: 0.5rem
}

    .survey-details .divider-form {

    width: 100%
}

    @media (min-width: 640px) {

    .survey-details .divider-form {

        max-width: 640px
    }
}

    @media (min-width: 768px) {

    .survey-details .divider-form {

        max-width: 768px
    }
}

    @media (min-width: 1024px) {

    .survey-details .divider-form {

        max-width: 1024px
    }
}

    @media (min-width: 1280px) {

    .survey-details .divider-form {

        max-width: 1280px
    }
}

    @media (min-width: 1536px) {

    .survey-details .divider-form {

        max-width: 1536px
    }
}

    .survey-details .divider-form {

    margin-left: auto;

    margin-right: auto
}

    .survey-details .divider-form div {

    height: 0.125rem;

    background-image: linear-gradient(to right, var(--tw-gradient-stops));

    --tw-gradient-from: transparent var(--tw-gradient-from-position);

    --tw-gradient-from-position:  ;

    --tw-gradient-to: rgb(0 0 0 / 0)  var(--tw-gradient-from-position);

    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);

    --tw-gradient-from-position: 0%;

    --tw-gradient-via-position:  ;

    --tw-gradient-to: rgb(75 85 99 / 0)  var(--tw-gradient-to-position);

    --tw-gradient-stops: var(--tw-gradient-from), #4b5563 var(--tw-gradient-via-position), var(--tw-gradient-to);

    --tw-gradient-via-position: 50%;

    --tw-gradient-to: transparent var(--tw-gradient-to-position);

    --tw-gradient-to-position:  
}

    .survey-details .questions-container {

    display: flex;

    flex-direction: column;

    gap: 0.75rem
}

    .survey-details .questions-container .question-form-container {

    position: relative;

    border-bottom-width: 1px;

    --tw-border-opacity: 1;

    border-bottom-color: rgb(209 213 219 / var(--tw-border-opacity));

    padding-bottom: 1.5rem
}

    .survey-details .questions-container .question-form-container .btn-delete-question {

    position: absolute;

    top: 0px;

    right: 0px
}

    .survey-details .questions-container svg {

    width: 1.5rem
}
